.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container>div {
  padding: 10px;
  
  font-family: Inter;
  font-size: 45px;
  color: rgb(255, 255, 255);
}
.logo{
  text-align: left;
}
.variable{
  text-align: right;
}
body {
  margin: auto;

}
html,body {
  box-sizing: border-box;
  height: 100%;
  padding: 20px;
}






.container>div{
  background-color: #292727;
  
}